# System Files
desktop.ini
thumbs.db
.DS_Store

# VS Code
.vscode/

# Python Cache & Environment
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.venv/
env/
venv/
ENV/

# Local temporary or log files
*.log

# Personal Projects & Resume Compilation (Private)
PROJETOS/Utopia/
PROJETOS/gestaodedados/
apresentacoes/apresenta_dota/
apresentacoes/apresenta_gestaodados/
resumo.md
perfumes_nao_encontrados.txt

